@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    margin: 50px;
    background: #fff;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}


.profile{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}


.profile .image{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.profile .image img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile h2{
    color: #fff;
    font-size: 1.5rem;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 450;
    line-height: 1.5em;
}

.profile h2 span{
    font-size: 0.8em;
    font-weight: 200;
}


.contact{
    padding-top: 40px;
}

.contact_info{
   color: #fff;
   text-transform: uppercase;
   font-weight: 500;
   letter-spacing: 1px;
}


.contact ul{
    position: relative;

}


.contact ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
    font-size: 13px;
    color: #fff;
}
.contact ul li a{
    text-decoration: none;
    color: #fff;

}

.contact ul li a:hover{
    color: orangered;
}


.contact ul li .icon{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #fff;
}


.Infoeducation li{
    margin-bottom: 15px;
}

.Infoeducation h5{
    color: orangered;
    font-weight: 500;
   
}

.Infoeducation h4{
    color: #fff;
    font-weight: 300;
    font-size: 12px;
}

.infoloisir .text{
   margin: 5px;
    color: white;
}

.infoloisir h3{
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
}

.Infolangue .text{
    color: #fff;
}

.Infolangue .percent{
    position: relative;
    width: 100%;
    height: 8px;
    background: white;
    display: block;
}

.Infolangue .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: orangered;
}

.uls .percent{
    position: relative;
    width: 50%;
    height: 8px;
    background: orangered;
    display: block;
}

.uls .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: green;
}

.apropos{
    margin-bottom: 50px;
}

.apropos :last-child{
    margin-bottom: 0;
}

.titre2{
    color: #003147;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

p{
    color: #333;
}
.uls{
    list-style: none;
}

.annee{
    color: #003147;
}



.container .left_side{
    position: relative;
    background: #003147;
    padding: 40px;
}

.container .right_side{
    position: relative;
    background: #fff;
    padding: 40px;
}